
*.mpf
*.qdb
*.qpg
*.qtl
work/_vmake
work/_info
transcript
project_fall21.cr.mti
vsim.wlf
project files/project.cr.mti
*.mti
project files/work/_info
project files/work/_vmake
wlftm7va7w
wlftm7va7w
wlftq2ejny
project files/CommTB.sv.bak
wlftm7va7w
